scrolloff=7
set incsearch
map Q gq

set number relativenumber
set mapleader =" "

"Refactor
map <Leader>r :action RenameElement<CR>

"Autocomplete
imap <C-Space> :action CodeCompletion<CR>

"View
map <Tab> :action NextTab<CR>
map <S-Tab> :action PreviousTab<CR>
map <Leader>] :action NextProjectWindow<CR>
map <Leader>[ :action PreviousProjectWindow<CR>
map <C-PageUp> :action Terminal.NextTab<CR>
map <C-PageDown> :action Terminal.PreviousTab<CR>

map <Leader>e :action GotoNextError<CR>
map <Leader>ep :action GotoPreviousError<CR>
map <Leader>l :action ActivateLogcatToolWindow<CR>
nnoremap <Leader>su :action ShowUsages<CR>
nnoremap <Leader>mu :action MethodUp<CR>
nnoremap <Leader>md :action MethodDown<CR>
nnoremap <C-]> action VcsShowNextChangeMarker<CR>
mnoremap <C-[> :action VcsShowPrevChangeMarker<CR>
nnoremap <Leader><Leader> :action SearchEverywhere<CR>

"Git
map <Leader>g :action Annotate<CR>

"Test
nnoremap <Leader>gt action GotoTest<CR>
nnoremap <Leader>tf :action RerunFailedTests<CR>

"Splitters
ap <C-l> :action NextSplitter<CR>
ap <C-h> :action PrevSplitter<CR>
map <Leader>v :action SplitVertically<CR>
map <Leader>V :action Unsplit<CR>
map <Leader>f :action SelectInProjectView<CR>
map <Leader>t :action ActivateTerminalToolWindow<CR>
map <Leader>l :action Logcat<CR>

"Debug
map <Leader>d :action ToggleLineBreakPoint<CR>

"Custom
nnoremap <Leader>b :silent! s/\<true\>/false/e \| s/\<false\>/true/e<CR>
